body{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: rgb(255, 251, 0);
border: 350px;
border-style:outset;
color:rgba(0, 0, 0, 0.644);
max-width: 600px;
margin: 0 auto;
padding: 100px;
}

#question {
    background-color:aliceblue;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
h1 {
    color: rgb(196, 95, 0);
}

button {
    background-color:orange;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px 20px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
